<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.demo.mapper.login.LoginMapper">
  <resultMap id="BaseResultMap" type="com.briup.demo.bean.login.Login">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
  </resultMap>
  
   <insert id="register" parameterType="com.briup.demo.bean.login.Login">
      
      <!-- id自增长 -->
      <selectKey resultType="java.lang.Short" order="BEFORE" keyProperty="id">
    	select link_id.nextval from dual
      </selectKey>
      
      insert into cms_customer (id,username,password) 
      values(#{id,jdbcType=NUMERIC},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
      
     
  	</insert>
  
 
</mapper>